<% include header %>
<% if (entries.length) { %>
  <% entries.forEach(function(entry) { %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-muted pull-right">
          <%= entry.published %>
          <form class="delete" method="DELETE" action="entries/<%= entry.id %>"><button type="submit">X</button></form>
        </div>
        <%= entry.title %>
      </div>
      <div class="panel-body">
        <%= entry.content %>
      </div>
    </div>
  <% }) %>
<% } else { %>
  Noch nichts Hinterlassenes! <a href="/new-entry">Schreib was</a>
<% } %>
<% include footer %>