<% include header %>
<h2>Schreib ein Briefchen an Bernd!</h2>
<form method="post" role="form">
  <div class="form-group">
    <label for="title">Worum geht's dir?</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Betreff" required> </div>
<div class="form-group">
<label for="content">Dein Briefchen</label>
<textarea class="form-control" id="body" name="body" placeholder="Inhalt" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post entry" class="btn btn-primary">
  </div>
</form>
<script>console.log(JSON.stringify( entries ));</script>
<% include footer %>